<div class="gh-outer">
    <section class="gh-inner statement-box-wrapper">
        <div class="statement-box">
            {{#if @custom.statement_box_title}}
                <h2 class="statement-box-title">{{@custom.statement_box_title}}
                </h2>
            {{/if}}
            
            {{#if @custom.statement_box_text}}
                <p class="statement-box-text">{{@custom.statement_box_text}}</p>
            {{/if}}
        </div>
    </section>
</div>