.statement-box {
    background-color: var(--soft-color-dark);
    color: var(--white-color);
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 2.4rem;
    margin-bottom: 4rem;
    text-align: left;
    border-radius: 1rem;
}

.statement-box h2{
    color: var(--white-color);
}

.statement-box-wrapper{
    padding-top: 6vmin;
    margin-top: 3rem;
}

.statement-box-title {
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        font-weight: bold;
        font-size: 2.3rem;
}

.statement-box-text {
    font-size:1.9rem;
}



